{
  "root": true,
  "extends": "@ideaplex/eslint-config",
  "parserOptions": {
    "sourceType": "module",
    "project": [
      "./tsconfig.lib.json",
      "./tsconfig.spec.json"
    ]
  },
  "env": {
    "node": true,
    "jest": true
  }
}
